
//
// TabBarKitCatalog/Configurations/Application.xcconfig
//

#include "../../../Configurations/Application.xcconfig"
#include "../../../Configurations/Libraries.xcconfig"

// Product Name
PRODUCT_NAME				= TabBarKitCatalog

// Application Info.plist
INFOPLIST_FILE				= $(APPLICATIONDELEGATE_INFOPLIST_PATH)/Info.plist

// Application Version
BUILD_APPLICATION_VERSION	= 1.0
CURRENT_PROJECT_VERSION		= $(BUILD_APPLICATION_VERSION)

// Precompiled Header
GCC_PREFIX_HEADER			= $(PROJECT_TREE_PROJECT_PATH)/TabBarKitCatalog.pch

// Clang
RUN_CLANG_STATIC_ANALYZER	= YES

// Search Paths
HEADER_SEARCH_PATHS			= $(STDLIB_HEADER_PATH)  $(TABBARKIT_HEADER_PATH)
LIBRARY_SEARCH_PATHS		= $(STDLIB_LIBRARY_PATH) $(TABBARKIT_LIBRARY_PATH)

// Linker Flags
OTHER_LDFLAGS				= $(OBJC_LIBRARY) $(OBJC_ALLLOAD) $(TABBARKIT_LIBRARY_FLAG)
