
//
// TabBarKitCatalog/Configurations/Release.xcconfig
//
// Customize with settings specific to release mode
//

#include "Application.xcconfig"
#include "../../../Configurations/Release.xcconfig"

//CODE_SIGN_ENTITLEMENTS = $(PROJECT_TREE_CLASSES_PATH)/ApplicationDelegate/Resources/PropertyLists/Entitlements.plist

GCC_PREPROCESSOR_DEFINITIONS = NDEBUG
