
//
// Application.xcconfig
// (c) 2008 - 2011, Semantap
//

SYMROOT							= Build
PROJECT_TREE_SOURCE_PATH		= Source
PROJECT_TREE_CLASSES_PATH		= $(PROJECT_TREE_SOURCE_PATH)/Classes
PROJECT_TREE_PROJECT_PATH		= $(PROJECT_TREE_SOURCE_PATH)/Project
PROJECT_TREE_RESOURCES_PATH		= $(PROJECT_TREE_SOURCE_PATH)/Resources
PROJECT_TREE_UNITTESTS_PATH		= $(PROJECT_TREE_SOURCE_PATH)/UnitTests

APPLICATIONDELEGATE_INFOPLIST_PATH					= $(PROJECT_TREE_CLASSES_PATH)/ApplicationDelegate/Resources/PropertyLists
GCC_PRECOMPILE_PREFIX_HEADER						= YES
ALWAYS_SEARCH_USER_PATHS							= NO
PRECOMPS_INCLUDE_HEADERS_FROM_BUILT_PRODUCTS_DIR	= NO
