
//
// Application.xcconfig
// iOS Application Project Structure
//

SYMROOT = Build

PROJECT_TREE_SOURCE_PATH                  = $(SRCROOT)/Source
PROJECT_TREE_CLASSES_PATH                 = $(PROJECT_TREE_SOURCE_PATH)/Classes
PROJECT_TREE_PROJECT_PATH                 = $(PROJECT_TREE_SOURCE_PATH)/Project
PROJECT_TREE_RESOURCES_PATH               = $(PROJECT_TREE_SOURCE_PATH)/Resources
PROJECT_TREE_UNITTESTS_PATH               = $(PROJECT_TREE_SOURCE_PATH)/UnitTests
APPLICATIONDELEGATE_INFOPLIST_PATH        = $(PROJECT_TREE_RESOURCES_PATH)/PropertyLists

XCODE4_PROJECT_TREE_SOURCE_PATH           = $(SRCROOT)/$(PROJECT_NAME)
XCODE4_PROJECT_TREE_CLASSES_PATH          = $(XCODE4_PROJECT_TREE_SOURCE_PATH)/Classes
XCODE4_PROJECT_TREE_PROJECT_PATH          = $(XCODE4_PROJECT_TREE_SOURCE_PATH)/Project
XCODE4_PROJECT_TREE_UNITTESTS_PATH        = $(XCODE4_PROJECT_TREE_SOURCE_PATH)/UnitTests
XCODE4_PROJECT_TREE_RESOURCES_PATH        = $(XCODE4_PROJECT_TREE_SOURCE_PATH)/Resources
XCODE4_APPLICATIONDELEGATE_INFOPLIST_PATH = $(XCODE4_PROJECT_TREE_RESOURCES_PATH)/PropertyLists

ALWAYS_SEARCH_USER_PATHS = NO
GCC_PRECOMPILE_PREFIX_HEADER = YES
PRECOMPS_INCLUDE_HEADERS_FROM_BUILT_PRODUCTS_DIR = NO

WRAPPER_EXTENSION = app
