
//
// Compiler.xcconfig
//

ALWAYS_SEARCH_USER_PATHS = NO
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
GCC_C_LANGUAGE_STANDARD = c99
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_UNUSED_VARIABLE = YES
GCC_ENABLE_OBJC_EXCEPTIONS = YES
GCC_ENABLE_FIX_AND_CONTINUE = NO
PREBINDING = NO
ZERO_LINK = NO

GCC_VERSION = com.apple.compilers.llvm.clang.1_0
