
//
// Paths.xcconfig
//

#include "Scripts.xcconfig"

BUILD_SHARED_ROOT_PATH = $(SRCROOT)/../../../Build

BUILD_SHARED_APPS_PATH = $(BUILD_SHARED_ROOT_PATH)/Applications
BUILD_SHARED_BUNDLES_PATH = $(BUILD_SHARED_ROOT_PATH)/Bundles
BUILD_SHARED_DOCUMENTS_PATH = $(BUILD_SHARED_ROOT_PATH)/Documents
BUILD_SHARED_LIBRARIES_PATH = $(BUILD_SHARED_ROOT_PATH)/Libraries
BUILD_SHARED_TOOLS_PATH = $(BUILD_SHARED_ROOT_PATH)/Tools
BUILD_SHARED_TESTS_PATH = $(BUILD_SHARED_ROOT_PATH)/UnitTests

BUILD_PLATFORM_NAME_PATH = $(BUILD_SHARED_LIBRARIES_PATH)/$(CONFIGURATION)/$(SDK_NAME)
