
//
// UnitTests.xcconfig
//

#include "Paths.xcconfig"

WRAPPER_EXTENSION = octest

// $(DEVELOPER_FRAMEWORKS_DIR) seems to be set to a top level value instead for the 
// that does not play well when tools are not installed in /Developer.

FRAMEWORK_SEARCH_PATHS = $(FRAMEWORK_SEARCH_PATHS) $(DEVELOPER_LIBRARY_DIR)/Frameworks